/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/**
 * Define media queries
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "freight-sans-pro", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 140%;
}

p, .mosaic-section p,
.swp__copy,
.mosaic-section .swp__copy {
  font-size: 15px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 155%;
}
@media screen and (min-width: 720px) {
  p, .mosaic-section p,
.swp__copy,
.mosaic-section .swp__copy {
    line-height: 180%;
  }
}
p ul, .mosaic-section p ul, .mosaic-section p ul, .mosaic-section .mosaic-section p ul,
.swp__copy ul,
.mosaic-section .swp__copy ul,
.mosaic-section .swp__copy ul,
.mosaic-section .mosaic-section .swp__copy ul {
  margin: 0;
  padding-left: 15px;
}
@media screen and (min-width: 960px) {
  p ul, .mosaic-section p ul, .mosaic-section p ul, .mosaic-section .mosaic-section p ul,
.swp__copy ul,
.mosaic-section .swp__copy ul,
.mosaic-section .swp__copy ul,
.mosaic-section .mosaic-section .swp__copy ul {
    padding-left: 25px;
  }
}
p ul li, .mosaic-section p ul li,
.swp__copy ul li,
.mosaic-section .swp__copy ul li {
  position: relative;
  padding: 0 0 15px 15px;
  list-style: none;
}
@media screen and (min-width: 960px) {
  p ul li, .mosaic-section p ul li,
.swp__copy ul li,
.mosaic-section .swp__copy ul li {
    padding: 0 0 20px 20px;
  }
}
p ul li::before, .mosaic-section p ul li::before,
.swp__copy ul li::before,
.mosaic-section .swp__copy ul li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #612A60;
}
p ol, .mosaic-section p ol,
.swp__copy ol,
.mosaic-section .swp__copy ol {
  padding-left: 20px;
  list-style: decimal;
}
p strong, .mosaic-section p strong,
.swp__copy strong,
.mosaic-section .swp__copy strong {
  font-weight: 700;
}
p em,
p i, .mosaic-section p em,
.mosaic-section p i,
.swp__copy em,
.swp__copy i,
.mosaic-section .swp__copy em,
.mosaic-section .swp__copy i {
  font-style: italic;
}
p a, .mosaic-section p a,
.swp__copy a,
.mosaic-section .swp__copy a {
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid;
  color: #612A60;
  overflow-wrap: break-word;
}
p a, .mosaic-section p a, .mosaic-section p a, .mosaic-section .mosaic-section p a,
.swp__copy a,
.mosaic-section .swp__copy a,
.mosaic-section .swp__copy a,
.mosaic-section .mosaic-section .swp__copy a {
  text-decoration: none;
}
p a:focus, .mosaic-section p a:focus,
.swp__copy a:focus,
.mosaic-section .swp__copy a:focus {
  border-color: #246A73;
  color: #246A73;
}
p iframe,
p video, .mosaic-section p iframe,
.mosaic-section p video,
.swp__copy iframe,
.swp__copy video,
.mosaic-section .swp__copy iframe,
.mosaic-section .swp__copy video {
  aspect-ratio: 16/9;
  max-width: 100%;
  height: auto;
}

h1, .mosaic-section h1,
.h1,
.mosaic-section .h1,
.ll__heading--h1,
.mosaic-section .ll__heading--h1 {
  font-size: calc(32px + 0 * ((100vw - 375px) / 585));
  padding-bottom: 28px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (min-width: 960px) {
  h1, .mosaic-section h1,
.h1,
.mosaic-section .h1,
.ll__heading--h1,
.mosaic-section .ll__heading--h1 {
    font-size: calc(32px + 10 * ((100vw - 961px) / 479));
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1800px) {
  h1, .mosaic-section h1,
.h1,
.mosaic-section .h1,
.ll__heading--h1,
.mosaic-section .ll__heading--h1 {
    font-size: 47px;
  }
}
h1 em,
.h1 em,
.ll__heading--h1 em {
  font-style: italic;
}

h2, .mosaic-section h2,
.h2,
.mosaic-section .h2,
.ll__heading--h2,
.mosaic-section .ll__heading--h2 {
  font-size: calc(32px + -5 * ((100vw - 375px) / 585));
  padding-bottom: 15px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 125%;
}
@media screen and (min-width: 960px) {
  h2, .mosaic-section h2,
.h2,
.mosaic-section .h2,
.ll__heading--h2,
.mosaic-section .ll__heading--h2 {
    font-size: calc(27px + 11 * ((100vw - 961px) / 479));
  }
}
@media screen and (min-width: 1800px) {
  h2, .mosaic-section h2,
.h2,
.mosaic-section .h2,
.ll__heading--h2,
.mosaic-section .ll__heading--h2 {
    font-size: 41px;
  }
}
h2 em,
.h2 em,
.ll__heading--h2 em {
  font-style: italic;
}

h3, .mosaic-section h3,
.h3,
.mosaic-section .h3,
.ll__heading--h3,
.mosaic-section .ll__heading--h3 {
  font-size: 20px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 120%;
}
@media screen and (min-width: 960px) {
  h3, .mosaic-section h3,
.h3,
.mosaic-section .h3,
.ll__heading--h3,
.mosaic-section .ll__heading--h3 {
    font-size: calc(20px + 6 * ((100vw - 961px) / 479));
  }
}
@media screen and (min-width: 1800px) {
  h3, .mosaic-section h3,
.h3,
.mosaic-section .h3,
.ll__heading--h3,
.mosaic-section .ll__heading--h3 {
    font-size: 29px;
  }
}
h3 em,
.h3 em,
.ll__heading--h3 em {
  font-style: italic;
}

h4, .mosaic-section h4,
.h4,
.mosaic-section .h4,
.ll__heading--h4,
.mosaic-section .ll__heading--h4 {
  font-size: 18px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 135%;
}
@media screen and (min-width: 960px) {
  h4, .mosaic-section h4,
.h4,
.mosaic-section .h4,
.ll__heading--h4,
.mosaic-section .ll__heading--h4 {
    font-size: calc(18px + 2 * ((100vw - 961px) / 479));
  }
}
@media screen and (min-width: 1200px) {
  h4, .mosaic-section h4,
.h4,
.mosaic-section .h4,
.ll__heading--h4,
.mosaic-section .ll__heading--h4 {
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 1800px) {
  h4, .mosaic-section h4,
.h4,
.mosaic-section .h4,
.ll__heading--h4,
.mosaic-section .ll__heading--h4 {
    font-size: 23px;
  }
}

h5, .mosaic-section h5,
.h5,
.mosaic-section .h5,
.ll__heading--h5,
.mosaic-section .ll__heading--h5 {
  font-size: 16px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  line-height: 135%;
}
@media screen and (min-width: 960px) {
  h5, .mosaic-section h5,
.h5,
.mosaic-section .h5,
.ll__heading--h5,
.mosaic-section .ll__heading--h5 {
    font-size: calc(16px + 2 * ((100vw - 961px) / 479));
  }
}
@media screen and (min-width: 1800px) {
  h5, .mosaic-section h5,
.h5,
.mosaic-section .h5,
.ll__heading--h5,
.mosaic-section .ll__heading--h5 {
    font-size: 20px;
  }
}
h5 em,
.h5 em,
.ll__heading--h5 em {
  font-style: italic;
}

@media (hover: hover) {
  p a:hover, .mosaic-section p a:hover,
.ll__copy a:hover,
.mosaic-section .ll__copy a:hover,
.ll__copy--large a:hover,
.mosaic-section .ll__copy--large a:hover {
    border-color: #612A60;
    color: #612A60;
    text-decoration: none;
  }
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #000000;
}

button,
a {
  cursor: pointer;
}

.swp__body-freeze {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}
@media screen and (min-width: 960px) {
  .swp__body-freeze .swp__body-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 1.3s;
  }
}

.swp__margins {
  padding-left: 20px;
  padding-right: 20px;
}

.header__skip-cta {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 500;
  position: absolute;
  border-radius: 0;
  text-decoration: none;
  height: 0;
  color: transparent;
  border-color: transparent;
}
.header__skip-cta:focus {
  position: static;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #612A60;
  height: auto;
}

.header__nav-body-wrap {
  background-color: #246A73;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 960px) {
  .header__nav-body-wrap {
    background-color: transparent;
    position: fixed;
    left: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-body-wrap {
    width: 135px;
  }
}

.header__nav-body {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .header__nav-body {
    justify-content: flex-start;
    flex-direction: column;
    background-color: #246A73;
    width: 103px;
    padding: 0 15px;
    height: 100vh;
    min-height: 800px;
    z-index: 1;
  }
}

.header__logo-wrap {
  width: 20%;
  max-width: 100px;
}
@media screen and (min-width: 960px) {
  .header__logo-wrap {
    width: 90%;
    max-width: 120px;
    padding: 35px 0;
  }
}

.header__logo {
  width: 100%;
}

.header__menu-btn {
  border: none;
  background-color: transparent;
  height: 25px;
  padding: 0;
  z-index: 3;
  cursor: pointer;
}
.header__menu-btn--open {
  right: 25px;
}
@media screen and (min-width: 960px) {
  .header__menu-btn {
    display: none;
  }
}

.header__menu-btn-line {
  display: block;
  width: 23px;
  position: relative;
  left: 50%;
  height: 3px;
  background: #612A60;
  transform: rotate(0deg) translateX(-50%);
  transition: 0.25s ease-in-out;
}

.header__menu-btn-line:first-of-type {
  top: -4px;
}

.header__menu-btn-line:nth-child(2) {
  top: 0px;
}

.header__menu-btn-line:nth-child(3) {
  top: 4px;
}

.header__menu-btn--open .header__menu-btn-line:first-of-type,
.header__menu-btn--open .header__menu-btn-line:nth-child(2) {
  background-color: #FFFFFF;
  width: 23px;
  height: 3px;
}

.header__menu-btn--open .header__menu-btn-line:first-of-type {
  transform: rotate(45deg) translateX(0%);
  top: -1px;
  left: 1px;
}

.header__menu-btn--open .header__menu-btn-line:nth-child(2) {
  transform: rotate(-45deg) translateX(0%);
  top: -4px;
  left: 3%;
}

.header__menu-btn--open .header__menu-btn-line:nth-child(3) {
  width: 0;
  height: 0;
  border: none;
}

.header__nav-content-wrap {
  display: none;
  background-color: #612A60;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 0 0;
}
@media screen and (min-width: 960px) {
  .header__nav-content-wrap {
    display: flex;
    position: inherit;
    background-color: transparent;
    padding-top: 0;
  }
}

.header__nav-content-wrap--open {
  display: block;
  width: 100%;
}

.header__nav-list-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 960px) {
  .header__nav-list-wrap {
    padding: 0;
  }
}

@media screen and (min-width: 960px) {
  .header__nav-list-item:first-of-type .header__nav-list-btn:before {
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='47' viewBox='0 0 51 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.5689 33.3681C50.4969 30.5457 51 27.5222 51 24.3778C51 21.1168 50.4578 17.9857 49.4622 15.0743C49.3235 15.0768 49.2418 15.0567 49.16 15.017L48.3955 13.4722C48.2231 13.0196 48.2657 12.5162 48.0257 12.0607C47.9137 11.8483 47.7697 11.6519 47.6115 11.4647C47.2577 11.0485 46.8257 10.6776 46.495 10.2762C46.1875 9.90031 45.7857 9.1269 45.4141 8.86472C45.1332 8.6675 44.7101 8.4717 44.4648 8.22568C44.3261 8.08714 44.1786 7.88347 44.0292 7.67711C43.8479 7.42755 43.6648 7.17405 43.4888 7.02706C43.2986 6.869 43.0905 6.74707 42.8808 6.63022C42.6514 6.5035 42.4168 6.38277 42.1945 6.2283L41.8514 5.85527L41.5083 5.82844C41.2932 5.72295 40.7634 5.09265 40.4541 4.8964C40.0434 4.63616 39.6114 4.49556 39.1616 4.2573L38.3954 3.72466L37.446 3.5118C37.2665 3.43782 37.1634 3.28147 37.0602 3.12541C36.9696 2.98584 36.8789 2.84645 36.7331 2.76625L35.0442 2.23361L34.2264 1.75412C33.6344 1.50467 33.0548 1.48515 32.3793 1.27468L31.7997 1.00862L30.5588 0.822132C30.1037 0.699861 29.6308 0.654823 29.1561 0.622514C28.6335 0.586952 28.1072 0.566745 27.6041 0.475926C27.4032 0.439736 27.1703 0.388247 26.9179 0.332364C26.0414 0.138911 24.9303 -0.106772 24.1214 0.0497482L22.9338 0.31581C22.3454 0.432087 21.9542 0.372949 21.6307 0.323973C21.1329 0.24851 20.7933 0.197135 20.1373 0.848447C19.4173 0.811058 18.804 1.06787 18.18 1.32942C17.7035 1.52858 17.2217 1.73054 16.6813 1.80738L16.4448 1.56763C15.9417 1.73659 15.6502 1.76827 15.3355 2.10032L14.7559 1.99386C14.2741 2.0993 14.0288 2.7018 13.6217 2.89954L12.8306 3.0592L12.2225 3.59183L11.0101 3.75149C10.7559 3.84922 10.6225 4.07469 10.4892 4.29983C10.379 4.48866 10.2687 4.67726 10.0856 4.78994C9.9434 4.87853 9.73362 4.89685 9.5274 4.91489C9.32828 4.93236 9.13272 4.94948 9.00472 5.02968L7.60559 6.36108C7.48114 6.45658 7.31581 6.51 7.15936 6.57291C7.01358 6.63131 6.87669 6.69781 6.7878 6.81368L6.55135 7.34632C6.48557 7.42418 6.37713 7.45957 6.26868 7.49508C6.15135 7.53372 6.03401 7.57248 5.97001 7.66615C5.89179 7.78112 5.85623 7.92514 5.82245 8.06767C5.78156 8.23692 5.74067 8.40412 5.62689 8.51811L5.56289 8.57308C5.29622 8.77316 4.84466 8.76608 4.65088 9.05075L3.99131 10.6487C3.89354 10.8202 3.73176 10.9237 3.57353 11.0256C3.43131 11.1163 3.29086 11.2058 3.20019 11.3411L2.88374 12.7257L2.32907 13.3116C2.20107 13.8432 2.28285 14.4027 2.14418 14.8563L1.35305 16.9337C1.33883 16.9926 1.31039 17.1684 1.27661 17.3814C1.2055 17.84 1.11483 18.4712 1.11661 18.4785C1.13616 18.5781 1.18594 18.6634 1.21616 18.7607C1.24283 18.8465 1.25527 18.9417 1.2215 19.0644L0.720156 20.0233C0.403707 20.7591 0.277483 21.9972 0.430374 22.8726C0.497931 23.2594 0.341484 23.6272 0.19926 23.9644C0.0623687 24.289 -0.0620776 24.5854 0.0339238 24.8431L0.325484 25.2425L0.535264 26.7872L0.457041 27.7725C0.503264 27.9871 0.615266 28.1633 0.730823 28.3451C0.853491 28.5384 0.981493 28.7381 1.03661 28.9974L1.11661 30.1423C1.18772 30.3361 1.34594 30.4539 1.50417 30.5722C1.6535 30.6828 1.80284 30.7939 1.88106 30.9679C1.99484 31.2163 2.00729 31.5536 2.02151 31.8915C2.03395 32.2118 2.0464 32.5327 2.14418 32.7788L3.04197 34.4031L3.64998 35.8947L5.20555 37.3862C5.48289 37.7597 5.538 38.3051 5.81356 38.6644C6.17446 39.138 6.85002 39.3152 7.21092 39.7829C7.58248 40.2648 7.74604 40.8653 8.2136 41.2477L9.18961 41.8868C9.48295 42.1023 9.76029 42.3292 10.0376 42.5564C10.5247 42.9571 11.0119 43.3582 11.5914 43.6976L13.7017 44.6033L14.4661 44.843C14.7168 44.9859 14.9124 45.2018 15.1453 45.3838C15.2981 45.5038 15.467 45.609 15.6804 45.6686L18.0289 45.9083L20.0075 46.5474C20.6636 46.6763 21.4227 46.4454 22.0662 46.6275L22.6725 46.9204C22.8787 46.9749 23.044 46.9381 23.2005 46.8883C23.3889 46.8287 23.5649 46.7504 23.78 46.7871C24.1907 46.857 24.8076 46.7515 25.2841 46.8403L26.2085 47C26.4965 46.951 26.8041 46.8939 27.1134 46.8305C27.4903 46.7532 27.869 46.6666 28.2121 46.5738L29.3997 46.5469L30.7721 46.0675L31.7215 45.961L33.3055 45.1091L34.3864 44.843L35.4158 44.0174L36.2602 43.7244C36.3545 43.6687 36.4291 43.5866 36.5056 43.5033C36.5962 43.4048 36.6887 43.3048 36.8131 43.245L37.4211 42.9789L38.0274 42.2334L38.4825 41.8457C39.2558 41.1912 39.9154 40.6332 40.5341 39.7034L41.3519 38.1586C41.4745 37.9608 41.6576 37.811 41.8372 37.6634C42.0292 37.5069 42.2176 37.3528 42.3279 37.1465L42.6443 35.655L43.4621 33.7108L43.6203 31.5538C43.7715 30.8996 44.0666 30.5041 44.2283 29.8494L44.255 28.9974C44.4292 27.9976 44.4203 26.754 44.4132 25.5886C44.4115 25.3927 44.4328 25.2206 44.4541 25.0573C44.4843 24.8229 44.5128 24.6065 44.4648 24.3636L43.9386 22.3399L43.8052 21.3278L43.3572 20.3426L43.1723 19.4105C43.0603 19.1222 42.8897 18.8337 42.7065 18.546C42.495 18.2112 42.2656 17.8776 42.0914 17.5465C41.7572 16.9098 41.7234 16.2575 41.3252 15.6555C40.175 13.9145 38.758 12.6915 37.0247 11.5276L35.4424 10.2225L34.4398 9.95642L32.9891 9.31732L32.0646 9.23724L30.0344 8.49174L27.8708 8.57183L26.9196 8.27888L23.6752 8.51857C23.0103 8.62794 22.4716 8.36627 21.828 8.51857L21.4333 8.73143C21.0636 8.8634 20.6724 8.91147 20.276 8.96027C19.8902 9.00788 19.4973 9.05623 19.1115 9.18404L16.4715 10.5423C16.0342 10.835 15.675 11.2153 15.3177 11.5939C15.0279 11.8993 14.7399 12.2035 14.4146 12.4596C14.107 12.7008 13.7532 12.8404 13.5168 13.1519C13.2608 13.4883 13.1541 13.9101 12.9372 14.2968L11.275 16.6403C10.8287 17.3858 10.571 18.4917 10.299 19.3568L10.1923 21.2209L9.87584 22.7124C9.83851 22.9353 9.85273 23.1625 9.88651 23.3796C9.93273 23.6643 10.0127 23.9318 10.0607 24.1503C10.1585 24.5925 10.1798 25.0527 10.2012 25.5148C10.2278 26.0607 10.2545 26.609 10.4039 27.1329L10.9052 28.2246L11.3532 30.009C11.8137 30.922 12.6848 32.5186 13.4386 33.125L15.2324 34.3768C15.3639 34.4783 15.4635 34.6165 15.5613 34.7599C15.6893 34.9491 15.8119 35.1474 15.9968 35.2824L16.9995 35.7619L17.4137 35.9879C17.8528 36.2316 18.3009 36.4811 18.82 36.6407L20.1124 36.8804L21.2218 37.3862C21.588 37.5005 22.3774 37.5615 22.8574 37.4663L23.2271 37.3862C23.6769 37.4629 24.4414 37.5576 24.9676 37.4395L25.6272 37.1734C25.8832 37.105 26.2121 37.1285 26.5339 37.1284C26.7436 37.1284 26.9499 37.1185 27.1312 37.067C27.7374 36.8951 28.4166 36.6412 29.0583 36.401C29.4672 36.2481 29.7819 35.9976 30.0948 35.7492C30.2388 35.6343 30.3828 35.5199 30.5357 35.4157C32.3295 34.1863 34.0895 32.5054 34.9144 30.3293L35.1793 28.9979L35.5473 28.0391C35.5882 27.8335 35.5313 27.6715 35.478 27.5215C35.4531 27.4528 35.4282 27.3866 35.4158 27.3199L35.4691 25.7219C35.3678 25.1594 35.1953 24.7234 35.0211 24.2834C34.95 24.101 34.8771 23.9178 34.8095 23.7245L34.6246 22.8189C34.5073 22.4156 34.2673 22.0718 34.0344 21.7377C33.926 21.5828 33.8193 21.4299 33.7269 21.2741L33.3571 20.4754C32.8913 19.8094 32.0628 19.6117 31.485 19.0639C30.6033 18.231 29.5117 17.4024 28.0539 17.173C27.933 17.1539 27.805 17.1845 27.6645 17.2178C27.5401 17.2475 27.4068 17.2792 27.2628 17.2794L27.0014 17.2783C26.5605 17.2753 26.1374 17.2725 25.7587 17.3594C23.7729 17.8145 21.2449 18.8979 20.2458 20.3421C20.0644 20.6037 19.9489 20.908 19.8315 21.2166C19.7569 21.4149 19.6804 21.615 19.5862 21.8067L19.1098 22.5791C18.9995 22.8599 18.9586 25.5012 19.0831 25.8283C19.1578 26.0214 19.4991 26.5533 19.8689 27.0685C20.2582 27.6111 20.6778 28.1351 20.852 28.225C21.0369 28.3208 21.252 28.3504 21.4742 28.3811C21.652 28.4056 21.8351 28.4308 22.0129 28.4912L23.0671 28.9706C23.4689 29.0507 23.8423 28.7792 24.1498 28.7045L25.0476 28.6245L25.2841 28.3847L25.5739 28.2783C26.1587 27.9009 26.8805 27.2262 26.5765 25.988C26.3703 25.1438 25.2236 25.0462 24.5196 24.683C24.4521 24.6478 23.4209 22.9346 23.4103 22.8452C23.3818 22.59 23.5507 22.4102 23.7018 22.2473C23.7747 22.1697 23.844 22.0959 23.8867 22.0197C24.0165 21.7848 24.0129 21.446 24.2281 21.3005C24.9178 20.8352 27.0832 20.7649 27.869 21.2204L28.2121 21.673L28.9783 22.0192L29.2415 22.5782L29.7428 22.9512L29.8744 23.4038L30.3224 23.9096L30.429 24.4422L30.6921 24.9217L30.7455 25.4275C30.9162 25.8752 31.3713 26.2072 31.5099 26.7326L31.1668 29.3158L30.5339 30.0081L29.9526 31.0202L29.9259 31.047L29.1615 31.3668C29.0157 31.4808 28.941 31.683 28.8663 31.8835C28.7881 32.0937 28.7117 32.3021 28.5552 32.4053C28.4574 32.4692 28.317 32.4946 28.1641 32.5072C27.8974 32.5291 27.5934 32.5116 27.421 32.5918C27.3037 32.6459 27.2148 32.7293 27.1365 32.8216C26.9854 33.0019 26.877 33.2161 26.6814 33.311L25.5739 33.4174C25.4067 33.4527 25.2485 33.4914 25.0903 33.5298C24.5996 33.6495 24.1214 33.7658 23.4618 33.7635C22.8449 32.9907 21.8191 33.2309 20.8502 32.8579C19.8209 32.4614 19.0333 31.8731 18.1853 31.3131L16.8146 30.5144C15.6875 29.6751 14.635 28.0317 14.2297 26.4664L14.0448 24.9486V23.8832C13.995 23.6497 13.8688 23.4169 13.7639 23.168C13.6501 22.8996 13.5612 22.6125 13.6217 22.2852C13.6821 21.952 13.7995 21.6603 13.9097 21.3885L14.0181 21.1135C14.059 20.9999 14.0608 20.8883 14.0626 20.7824C14.0626 20.6825 14.0626 20.5875 14.0964 20.5008L14.4928 19.8085L14.8092 18.5034C14.8999 18.2851 15.0546 18.1218 15.2057 17.9623C15.3373 17.8228 15.467 17.6862 15.5488 17.5181L15.6004 17.0656L16.0484 16.7194C16.3186 16.361 16.4751 15.9348 16.7613 15.6009C17.0386 15.2769 17.4511 15.0578 17.86 14.8409C18.1337 14.6952 18.4057 14.5506 18.6351 14.3759L19.0049 13.9233L20.6138 12.7784C20.7987 12.6856 20.9871 12.6194 21.1809 12.5633C21.5418 12.4586 21.9169 12.3888 22.3027 12.2458L22.6974 12.006C22.8431 11.964 24.1712 12.0519 24.3596 12.0861C24.6565 12.1392 24.8698 12.0581 25.0796 11.9778C25.2894 11.8979 25.4974 11.8187 25.7836 11.8732L26.9979 12.2994C27.485 12.4032 27.9668 12.3265 28.4539 12.2565C28.8912 12.1938 29.3357 12.1365 29.7944 12.2194C30.5108 12.349 31.0193 12.5878 31.5633 12.8441L31.8797 12.9918L33.2237 13.4976C33.4869 13.6232 33.7553 13.9082 34.0255 14.1937C34.2424 14.4242 34.4611 14.655 34.6762 14.8026L36.5216 15.9743C36.9429 16.4128 37.2967 17.4117 37.7091 17.9449L38.6069 18.7173C38.8683 19.0605 38.9607 19.5312 39.1883 19.9158L39.9527 21.1145C40.0896 21.4811 39.9527 21.962 40.0576 22.3394C40.1732 22.7539 40.447 22.9908 40.559 23.3247C40.7172 23.7909 40.671 24.5086 40.7972 24.9227L40.7439 25.5354L41.0603 26.6803C41.1474 27.1312 41.0052 27.5609 40.879 27.9433C40.8239 28.1088 40.7723 28.2654 40.7439 28.4111L40.6638 29.8489L40.3741 30.861C40.3065 31.1664 40.2692 31.4504 40.2336 31.7269C40.1874 32.0887 40.1412 32.4377 40.0309 32.8052C39.8692 33.3407 39.4763 33.722 39.2398 34.1898L38.6603 35.6012C38.534 35.7817 38.3563 35.9359 38.1714 36.0967C37.9403 36.2988 37.6967 36.5114 37.526 36.7999C37.4122 36.9918 37.3091 37.2054 37.1954 37.4085C37.0549 37.6595 36.8985 37.8943 36.6816 38.0517L36.1002 38.3715L35.4407 38.9842C35.206 39.1336 34.95 39.1746 34.7562 39.3572L33.9633 40.2629C32.9322 41.0753 31.4975 41.6797 30.0859 42.1006L29.4797 42.1274L28.6086 42.3672H27.8423C27.1597 42.4921 26.4308 42.8964 25.5205 42.7402C25.0814 42.6645 24.4396 42.7206 23.9383 42.6338L23.0156 42.5005C21.7142 42.7016 20.7862 42.4428 19.7427 42.1274L18.4235 41.8614C18.02 41.7281 17.6075 41.5482 17.2022 41.3714C16.8804 41.2315 16.5639 41.0936 16.2599 40.9825C16.0182 40.8939 15.7835 40.8623 15.5613 40.8321C15.2608 40.7916 14.9799 40.7537 14.7292 40.5832L13.147 39.2781L12.2243 38.8256C12.1585 38.7686 12.1194 38.6842 12.0768 38.6012C12.0394 38.5253 11.9985 38.4506 11.9328 38.3993C11.2696 37.8784 10.2723 37.3496 9.76918 36.6949C9.63584 36.519 9.5274 36.324 9.42073 36.1299C9.30873 35.928 9.1985 35.7272 9.05805 35.55L8.10693 34.5647L7.76381 33.6591C7.63048 33.4472 7.45981 33.2851 7.28736 33.1216C7.0598 32.9067 6.83047 32.6895 6.68291 32.3541C6.24557 31.3702 5.90601 30.3928 5.602 29.3182L5.33711 27.8535C5.27844 27.6221 5.18067 27.387 5.08466 27.1581C4.98155 26.9078 4.88199 26.6649 4.83755 26.442L4.91577 25.7497C4.88911 25.6187 4.85533 25.4838 4.81977 25.3427C4.7611 25.108 4.6971 24.8564 4.65266 24.578V22.8204L4.54777 21.755L5.25889 18.9589C5.41534 18.209 5.234 17.3322 5.44378 16.6423L5.89179 16.0564C6.06423 15.765 6.22601 15.3988 6.35579 15.1047L6.39313 15.0179L6.63135 13.8462C6.75402 13.477 7.05092 13.2325 7.34247 12.9921C7.63937 12.747 7.93093 12.5061 8.02871 12.1418L7.92382 11.4494C8.06782 11.3131 8.23849 11.2171 8.40738 11.1218C8.64205 10.9897 8.87494 10.859 9.03139 10.6238C9.29984 10.2235 9.3905 9.54679 9.77096 9.26561C10.043 9.0649 10.4661 9.06587 10.7203 8.8662C10.8661 8.75255 10.9745 8.59243 11.0848 8.43197C11.2145 8.24035 11.3443 8.04821 11.5381 7.93416C11.8474 7.75332 12.1905 7.65639 12.539 7.5585C12.843 7.4727 13.1488 7.38616 13.4386 7.24186L14.4661 6.57593L15.627 6.22979C15.8439 6.11945 16.0573 5.99655 16.2742 5.87165C16.8182 5.55718 17.3853 5.22993 18.0822 5.058L19.6129 4.87151C19.6964 4.83737 19.7693 4.78577 19.8458 4.73211C19.9649 4.64854 20.0911 4.56012 20.2724 4.52536H21.1418L21.5382 4.20553L22.8574 3.64652L23.9116 3.75298C24.0876 3.73363 24.2689 3.67957 24.4521 3.62483C24.7721 3.52904 25.0992 3.4312 25.4156 3.51323C25.5401 3.54577 25.6574 3.60639 25.7854 3.66085C25.9721 3.74048 26.1819 3.80692 26.4716 3.75298C26.9214 3.66946 27.2343 3.24323 27.8441 3.37994C28.0308 3.42195 28.2032 3.52094 28.3792 3.62237C28.5357 3.71188 28.6957 3.80332 28.8717 3.85938L30.5073 4.1255L31.4584 4.68451L32.9891 5.03065L33.9651 5.66975C34.2798 5.84248 34.6051 5.99415 34.9233 6.14245C35.1562 6.25068 35.3838 6.35708 35.6007 6.46851C36.0487 6.69889 36.5518 6.86089 37.0496 7.02169C37.6007 7.19928 38.1447 7.37532 38.6087 7.64024C39.5456 8.17584 40.1216 9.06639 40.9039 9.69081C41.2007 9.92908 41.5954 10.0785 41.8265 10.3832L42.2479 11.342C42.3652 11.5031 42.5572 11.5907 42.751 11.6785C42.9412 11.7649 43.1314 11.8514 43.2506 12.008C43.327 12.1087 43.3839 12.2413 43.4426 12.3752C43.5297 12.5774 43.6168 12.7828 43.7786 12.8868C44.0363 13.0518 44.2941 12.9903 44.4648 13.233C45.007 13.9995 45.2541 15.0404 45.6524 15.9495L46.4435 17.2276L46.4702 17.8404L46.7333 18.5064L46.8133 19.2255C47.0142 19.8988 47.528 20.2512 47.736 21.0364L47.8693 22.1017L48.1857 22.9536L48.3706 24.3119L48.6604 24.8709L48.6871 25.8562C48.9111 27.0075 49.272 28.127 49.6044 29.1628L49.6098 29.1849L49.5689 33.3681Z' fill='black'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.header__nav-list-btn {
  font-family: "freight-sans-pro", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 140%;
  font-size: 18px;
  display: block;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0 0 25px;
  transition: 0.25s ease-in-out;
}
@media screen and (min-width: 960px) {
  .header__nav-list-btn {
    font-size: 14px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.header__nav-list-btn--dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .header__nav-list-btn--dropdown {
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .header__nav-list-btn--show + .header__nav-dropdown-wrap {
    left: 103px;
  }
}
.header__nav-list-btn--show .header__nav-dropdown-icon-wrap:after {
  transform: rotate(135deg);
}
@media screen and (min-width: 960px) {
  .header__nav-list-btn:before {
    content: "";
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
  }
}

.header__nav-dropdown-wrap {
  display: block;
  padding: 0 30px;
}
@media screen and (min-width: 960px) {
  .header__nav-dropdown-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    min-height: 800px;
    overflow: scroll;
    width: 35%;
    left: -35%;
    background-color: #C9612C;
    transition: all 1s ease-in-out;
    z-index: -1;
  }
}

.header__nav-dropdown-close-btn {
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav-dropdown-close-btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 100px;
    background-color: transparent;
    border: none;
  }
}

.header__nav-dropdown-close-btn-line {
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav-dropdown-close-btn-line {
    position: absolute;
    display: block;
    width: 3px;
    height: 16px;
    background-color: #000000;
  }
}
.header__nav-dropdown-close-btn-line:first-of-type {
  transform: rotate(45deg);
}
.header__nav-dropdown-close-btn-line:last-of-type {
  transform: rotate(-45deg);
}

@media screen and (min-width: 960px) {
  .header__nav-dropdown-close-tag {
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 12px;
  }
}

@media screen and (min-width: 960px) {
  .header__nav-dropdown-list-wrap {
    position: absolute;
    top: 33%;
    left: 50px;
    transform: translateY(-50%);
  }
}

.header__nav-dropdown-item {
  padding-bottom: 25px;
}
@media screen and (min-width: 960px) {
  .header__nav-dropdown-item {
    padding-bottom: 35px;
  }
}
.header__nav-dropdown-item:last-of-type {
  padding-bottom: 55px;
}
@media screen and (min-width: 960px) {
  .header__nav-dropdown-item:last-of-type {
    padding-bottom: 0px;
  }
}

.header__nav-dropdown-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (min-width: 960px) {
  .header__nav-dropdown-link {
    font-size: calc(24px + 4 * ((100vw - 961px) / 479));
  }
}
@media screen and (min-width: 1800px) {
  .header__nav-dropdown-link {
    font-size: 31px;
  }
}

@media screen and (hover: hover) and (min-width: 960px) {
  .header__nav-list-item:first-of-type .header__nav-list-btn:hover:before {
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='52' viewBox='0 0 56 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.4286 36.754C55.4476 33.6848 56 30.3967 56 26.9773C56 23.431 55.4046 20.026 54.3114 16.8598C54.1592 16.8626 54.0694 16.8407 53.9796 16.7975L53.1402 15.1176C52.9508 14.6254 52.9977 14.078 52.7341 13.5826C52.6112 13.3516 52.453 13.138 52.2793 12.9344C51.8908 12.4819 51.4165 12.0785 51.0534 11.642C50.7157 11.2332 50.2745 10.3922 49.8665 10.107C49.5581 9.89256 49.0935 9.67964 48.8241 9.41209C48.6718 9.26143 48.5098 9.03994 48.3458 8.81554C48.1467 8.54414 47.9456 8.26846 47.7524 8.10861C47.5435 7.93672 47.3151 7.80413 47.0848 7.67706C46.8329 7.53925 46.5753 7.40796 46.3313 7.23998L45.9545 6.83431L45.5777 6.80513C45.3415 6.69042 44.7598 6.00497 44.4202 5.79155C43.9692 5.50854 43.4949 5.35565 43.001 5.09654L42.1596 4.51731L41.1172 4.28583C40.92 4.20538 40.8068 4.03535 40.6936 3.86563C40.594 3.71386 40.4945 3.56226 40.3344 3.47505L38.4799 2.89581L37.582 2.37437C36.9319 2.1031 36.2955 2.08187 35.5537 1.85299L34.9173 1.56366L33.5548 1.36085C33.055 1.22788 32.5358 1.17891 32.0146 1.14377C31.4407 1.1051 30.8628 1.08312 30.3104 0.984359C30.0898 0.945003 29.8341 0.88901 29.5569 0.828237C28.5945 0.61786 27.3744 0.350684 26.4862 0.520897L25.1822 0.810235C24.5361 0.936685 24.1066 0.872373 23.7513 0.819112C23.2048 0.737047 22.8319 0.681178 22.1116 1.38947C21.321 1.34881 20.6475 1.62809 19.9623 1.91252C19.4392 2.12911 18.9101 2.34873 18.3167 2.43229L18.0571 2.17157C17.5046 2.35531 17.1845 2.38977 16.839 2.75087L16.2026 2.63509C15.6736 2.74975 15.4042 3.40496 14.9571 3.62L14.0885 3.79362L13.4208 4.37286L12.0895 4.54649C11.8104 4.65276 11.6639 4.89796 11.5175 5.14279C11.3965 5.34814 11.2755 5.55324 11.0744 5.67578C10.9182 5.77212 10.6879 5.79205 10.4615 5.81166C10.2428 5.83066 10.0281 5.84928 9.88754 5.9365L8.35124 7.38437C8.21459 7.48822 8.03304 7.54632 7.86126 7.61473C7.70119 7.67824 7.55088 7.75056 7.45327 7.87657L7.19364 8.4558C7.12141 8.54048 7.00234 8.57896 6.88326 8.61758C6.75442 8.6596 6.62558 8.70175 6.55531 8.80362C6.46941 8.92864 6.43037 9.08526 6.39328 9.24026C6.34838 9.42432 6.30348 9.60614 6.17855 9.73011L6.10827 9.78989C5.81546 10.0075 5.31963 9.99977 5.10685 10.3093L4.38262 12.0471C4.27525 12.2336 4.09761 12.3462 3.92388 12.457C3.76771 12.5556 3.61349 12.653 3.51394 12.8L3.16646 14.3058L2.55741 14.9429C2.41686 15.5211 2.50665 16.1296 2.35439 16.6228L1.48571 18.882C1.47009 18.946 1.43886 19.1372 1.40177 19.3688C1.32368 19.8675 1.22413 20.5539 1.22608 20.5619C1.24755 20.6702 1.30221 20.7629 1.33539 20.8687C1.36468 20.9621 1.37834 21.0656 1.34125 21.199L0.79076 22.2418C0.443286 23.0419 0.304687 24.3884 0.472568 25.3404C0.546747 25.761 0.374963 26.161 0.218795 26.5277C0.0684832 26.8807 -0.0681636 27.203 0.0372497 27.4833L0.357394 27.9176L0.587741 29.5975L0.501849 30.6689C0.552604 30.9024 0.675586 31.0939 0.802472 31.2916C0.937167 31.5018 1.07772 31.719 1.13823 32.001L1.22608 33.2461C1.30416 33.4569 1.4779 33.5849 1.65163 33.7136C1.81561 33.8339 1.97959 33.9547 2.06548 34.1439C2.19041 34.4141 2.20408 34.7809 2.2197 35.1483C2.23336 35.4966 2.24702 35.8456 2.35439 36.1132L3.3402 37.8797L4.00782 39.5017L5.7159 41.1237C6.02043 41.5299 6.08095 42.123 6.38352 42.5137C6.7798 43.0288 7.52159 43.2215 7.91787 43.7301C8.32586 44.2542 8.50545 44.9072 9.01885 45.323L10.0906 46.018C10.4127 46.2523 10.7172 46.4992 11.0217 46.7462C11.5566 47.1819 12.0915 47.6182 12.7278 47.9873L15.045 48.9722L15.8844 49.2328C16.1596 49.3883 16.3744 49.6231 16.6301 49.8209C16.798 49.9515 16.9834 50.0659 17.2177 50.1307L19.7964 50.3913L21.9691 51.0864C22.6894 51.2265 23.5229 50.9754 24.2296 51.1734L24.8953 51.492C25.1217 51.5512 25.3033 51.5113 25.475 51.4571C25.682 51.3923 25.8752 51.3072 26.1114 51.3471C26.5624 51.423 27.2397 51.3083 27.7629 51.4049L28.778 51.5786C29.0942 51.5252 29.4319 51.4632 29.7716 51.3942C30.1855 51.3102 30.6012 51.216 30.978 51.115L32.282 51.0859L33.789 50.5645L34.8314 50.4487L36.5708 49.5222L37.7576 49.2328L38.8879 48.335L39.8152 48.0164C39.9186 47.9558 40.0006 47.8665 40.0845 47.7759C40.1841 47.6689 40.2856 47.56 40.4223 47.495L41.0899 47.2057L41.7555 46.3949L42.2553 45.9734C43.1044 45.2616 43.8287 44.6547 44.508 43.6436L45.406 41.9637C45.5407 41.7485 45.7417 41.5856 45.9389 41.4252C46.1497 41.255 46.3566 41.0874 46.4777 40.8631L46.8251 39.241L47.7231 37.1268L47.8968 34.7811C48.0628 34.0696 48.3868 33.6395 48.5645 32.9275L48.5937 32.001C48.785 30.9137 48.7753 29.5614 48.7675 28.294C48.7655 28.081 48.7889 27.8938 48.8124 27.7162C48.8456 27.4613 48.8768 27.226 48.8241 26.9619L48.2463 24.7611L48.0999 23.6605L47.6079 22.589L47.4049 21.5754C47.2819 21.2618 47.0945 20.9481 46.8935 20.6353C46.6612 20.2712 46.4093 19.9084 46.218 19.5483C45.851 18.8559 45.8139 18.1466 45.3767 17.4919C44.1137 15.5986 42.5578 14.2686 40.6546 13.0028L38.9172 11.5836L37.8162 11.2942L36.2233 10.5992L35.2082 10.5121L32.9789 9.70143L30.6032 9.78852L29.5588 9.46995L25.9963 9.7306C25.2662 9.84954 24.6747 9.56498 23.968 9.7306L23.5347 9.96209C23.1286 10.1056 22.6992 10.1579 22.2638 10.211C21.8402 10.2627 21.4088 10.3153 20.9852 10.4543L18.0863 11.9314C17.6061 12.2497 17.2118 12.6633 16.8194 13.075C16.5012 13.4071 16.185 13.7379 15.8278 14.0164C15.4901 14.2787 15.1016 14.4305 14.842 14.7693C14.5609 15.1351 14.4437 15.5938 14.2056 16.0143L12.3804 18.5629C11.8904 19.3736 11.6073 20.5762 11.3087 21.517L11.1915 23.5442L10.8441 25.1662C10.8031 25.4086 10.8187 25.6556 10.8558 25.8917C10.9065 26.2013 10.9944 26.4922 11.0471 26.7298C11.1544 27.2107 11.1779 27.7113 11.2013 28.2137C11.2306 28.8074 11.2599 29.4037 11.4238 29.9734L11.9743 31.1606L12.4663 33.1012C12.9719 34.094 13.9284 35.8302 14.7561 36.4897L16.7257 37.851C16.8702 37.9614 16.9795 38.1117 17.0869 38.2677C17.2274 38.4734 17.3621 38.6891 17.5651 38.8359L18.6661 39.3573L19.121 39.603C19.6031 39.8681 20.0951 40.1394 20.6651 40.313L22.0842 40.5737L23.3024 41.1237C23.7045 41.248 24.5712 41.3144 25.0983 41.2108L25.5043 41.1237C25.9982 41.2071 26.8376 41.3101 27.4154 41.1816L28.1397 40.8922C28.4208 40.8179 28.7819 40.8434 29.1352 40.8434C29.3656 40.8434 29.592 40.8326 29.7911 40.7765C30.4568 40.5896 31.2025 40.3135 31.9072 40.0523C32.3562 39.886 32.7017 39.6136 33.0453 39.3435C33.2034 39.2185 33.3615 39.0941 33.5294 38.9808C35.4991 37.6439 37.4316 35.8159 38.3374 33.4495L38.6283 32.0016L39.0324 30.9588C39.0773 30.7352 39.0148 30.5591 38.9562 30.3959C38.9289 30.3213 38.9016 30.2493 38.8879 30.1767L38.9465 28.439C38.8352 27.8272 38.6458 27.3531 38.4545 26.8747C38.3765 26.6762 38.2964 26.477 38.2222 26.2669L38.0192 25.282C37.8904 24.8434 37.6269 24.4696 37.3711 24.1062C37.252 23.9377 37.1349 23.7715 37.0334 23.6021L36.6274 22.7334C36.1159 22.0092 35.2062 21.7942 34.5718 21.1985C33.6036 20.2927 32.405 19.3917 30.8043 19.1421C30.6715 19.1214 30.531 19.1547 30.3768 19.1908C30.2401 19.2231 30.0937 19.2576 29.9356 19.2579L29.6486 19.2567C29.1645 19.2534 28.6999 19.2504 28.2841 19.3449C26.1036 19.8398 23.3277 21.0179 22.2307 22.5885C22.0315 22.873 21.9047 23.2039 21.7758 23.5395C21.6938 23.7552 21.6099 23.9728 21.5064 24.1813L20.9833 25.0212C20.8622 25.3265 20.8173 28.199 20.954 28.5547C21.036 28.7646 21.4108 29.3431 21.8168 29.9034C22.2443 30.4935 22.705 31.0633 22.8963 31.1611C23.0993 31.2653 23.3355 31.2974 23.5796 31.3307C23.7748 31.3574 23.9758 31.3849 24.171 31.4505L25.3286 31.9719C25.7698 32.059 26.1797 31.7637 26.5175 31.6825L27.5033 31.5954L27.7629 31.3347L28.0811 31.219C28.7233 30.8086 29.5159 30.0748 29.1821 28.7283C28.9556 27.8103 27.6965 27.7041 26.9235 27.3091C26.8493 27.2709 25.7171 25.4078 25.7054 25.3106C25.6742 25.033 25.8596 24.8375 26.0255 24.6603C26.1056 24.576 26.1817 24.4958 26.2285 24.4128C26.3711 24.1575 26.3671 23.789 26.6034 23.6307C27.3608 23.1248 29.7384 23.0483 30.6012 23.5436L30.978 24.0358L31.8194 24.4123L32.1083 25.0202L32.6588 25.4259L32.8032 25.9181L33.2951 26.4681L33.4123 27.0474L33.7012 27.5687L33.7597 28.1188C33.9471 28.6057 34.4469 28.9667 34.5991 29.538L34.2224 32.3472L33.5274 33.1001L32.8891 34.2008L32.8598 34.23L32.0204 34.5777C31.8604 34.7017 31.7784 34.9216 31.6964 35.1396C31.6105 35.3682 31.5265 35.5948 31.3548 35.7071C31.2474 35.7765 31.0932 35.8042 30.9253 35.8179C30.6325 35.8417 30.2987 35.8227 30.1093 35.9099C29.9805 35.9687 29.8829 36.0594 29.797 36.1598C29.6311 36.3559 29.512 36.5887 29.2972 36.692L28.0811 36.8077C27.8976 36.8461 27.7239 36.8882 27.5501 36.9299C27.0113 37.0601 26.4862 37.1865 25.762 37.1841C25.0846 36.3437 23.9583 36.6049 22.8944 36.1992C21.7641 35.7681 20.8993 35.1283 19.9682 34.5193L18.4631 33.6507C17.2255 32.738 16.0698 30.9508 15.6248 29.2486L15.4217 27.598V26.4394C15.3671 26.1855 15.2285 25.9323 15.1133 25.6616C14.9884 25.3698 14.8908 25.0575 14.9571 24.7016C15.0235 24.3392 15.1523 24.022 15.2734 23.7265L15.3925 23.4274C15.4374 23.3039 15.4393 23.1825 15.4413 23.0673C15.4413 22.9586 15.4413 22.8554 15.4783 22.761L15.9137 22.0082L16.2611 20.5889C16.3607 20.3516 16.5305 20.174 16.6965 20.0005C16.8409 19.8489 16.9834 19.7002 17.0732 19.5175L17.1298 19.0254L17.6217 18.6489C17.9185 18.2591 18.0903 17.7957 18.4045 17.4325C18.7091 17.0801 19.162 16.8419 19.6109 16.606C19.9116 16.4476 20.2102 16.2903 20.4621 16.1004L20.8681 15.6082L22.6347 14.3631C22.8378 14.2622 23.0447 14.1902 23.2575 14.1292C23.6537 14.0153 24.0656 13.9394 24.4892 13.7839L24.9226 13.5232C25.0827 13.4775 26.5409 13.5731 26.7478 13.6103C27.0738 13.668 27.3081 13.5798 27.5384 13.4924C27.7688 13.4055 27.9972 13.3194 28.3114 13.3788L29.6447 13.8422C30.1796 13.9551 30.7086 13.8717 31.2435 13.7955C31.7237 13.7274 32.2117 13.6651 32.7154 13.7552C33.5021 13.8961 34.0604 14.1558 34.6577 14.4345L35.0052 14.5952L36.481 15.1452C36.7699 15.2818 37.0646 15.5917 37.3614 15.9022C37.5995 16.1528 37.8396 16.4039 38.0758 16.5644L40.1021 17.8386C40.5648 18.3154 40.9532 19.4018 41.4061 19.9816L42.3919 20.8215C42.6789 21.1947 42.7804 21.7066 43.0303 22.125L43.8697 23.4284C44.02 23.8272 43.8697 24.3501 43.9848 24.7606C44.1117 25.2113 44.4123 25.4689 44.5353 25.832C44.7091 26.3391 44.6583 27.1195 44.7969 27.5698L44.7383 28.2361L45.0858 29.4812C45.1815 29.9715 45.0253 30.4388 44.8867 30.8547C44.8262 31.0347 44.7696 31.205 44.7383 31.3634L44.6505 32.927L44.3323 34.0277C44.2581 34.3598 44.2171 34.6686 44.1781 34.9693C44.1273 35.3627 44.0766 35.7423 43.9556 36.1419C43.7779 36.7243 43.3465 37.139 43.0869 37.6476L42.4505 39.1826C42.3119 39.3788 42.1167 39.5465 41.9137 39.7214C41.6599 39.9412 41.3924 40.1724 41.205 40.4861C41.0801 40.6948 40.9669 40.9271 40.842 41.1479C40.6877 41.4209 40.516 41.6763 40.2778 41.8474L39.6395 42.1952L38.9152 42.8615C38.6576 43.024 38.3765 43.0686 38.1637 43.2672L37.293 44.2521C36.1608 45.1355 34.5855 45.7929 33.0355 46.2505L32.3699 46.2797L31.4133 46.5404H30.572C29.8224 46.6763 29.022 47.1159 28.0225 46.946C27.5404 46.8638 26.8357 46.9248 26.2852 46.8303L25.272 46.6854C23.8431 46.9041 22.8241 46.6227 21.6782 46.2797L20.2298 45.9904C19.7866 45.8454 19.3337 45.6498 18.8887 45.4576C18.5353 45.3054 18.1879 45.1555 17.854 45.0347C17.5886 44.9382 17.3309 44.9039 17.0869 44.8711C16.757 44.827 16.4485 44.7859 16.1733 44.6004L14.4359 43.1811L13.4228 42.689C13.3506 42.6271 13.3076 42.5352 13.2608 42.445C13.2198 42.3625 13.1749 42.2813 13.1026 42.2255C12.3745 41.6589 11.2794 41.0839 10.7269 40.3719C10.5805 40.1807 10.4615 39.9685 10.3443 39.7575C10.2213 39.538 10.1003 39.3196 9.9461 39.1269L8.90173 38.0554L8.52497 37.0705C8.37856 36.8401 8.19116 36.6638 8.00181 36.486C7.75194 36.2523 7.50012 36.0161 7.3381 35.6513C6.85788 34.5814 6.48503 33.5185 6.15122 32.3499L5.86036 30.757C5.79594 30.5054 5.68857 30.2497 5.58316 30.0008C5.46994 29.7286 5.36062 29.4644 5.31182 29.2221L5.39771 28.4692C5.36843 28.3267 5.33134 28.18 5.2923 28.0266C5.22788 27.7714 5.1576 27.4978 5.1088 27.195V25.2836L4.99363 24.125L5.77447 21.0843C5.94625 20.2688 5.74714 19.3153 5.97748 18.565L6.46941 17.9278C6.65877 17.611 6.83641 17.2127 6.97891 16.8929L7.0199 16.7986L7.28149 15.5243C7.41618 15.1229 7.74218 14.8569 8.06233 14.5955C8.38833 14.3289 8.70847 14.0669 8.81583 13.6708L8.70066 12.9179C8.85878 12.7696 9.04618 12.6653 9.23163 12.5616C9.48931 12.418 9.74503 12.2757 9.91682 12.02C10.2116 11.5847 10.3111 10.8488 10.7289 10.543C11.0276 10.3247 11.4922 10.3258 11.7713 10.1086C11.9314 9.98505 12.0505 9.81093 12.1715 9.63643C12.314 9.42804 12.4565 9.2191 12.6693 9.09507C13.0089 8.89841 13.3857 8.793 13.7683 8.68654C14.1021 8.59324 14.4379 8.49913 14.7561 8.3422L15.8844 7.61802L17.1591 7.24159C17.3973 7.1216 17.6315 6.98795 17.8697 6.85212C18.467 6.51015 19.0897 6.15426 19.8549 5.96729L21.5357 5.76448C21.6275 5.72736 21.7075 5.67125 21.7914 5.61289C21.9222 5.52202 22.0608 5.42586 22.2599 5.38805H23.2145L23.6498 5.04024L25.0983 4.43233L26.2559 4.5481C26.4491 4.52706 26.6483 4.46827 26.8493 4.40874C27.2007 4.30457 27.5599 4.19817 27.9074 4.28738C28.044 4.32276 28.1728 4.38869 28.3134 4.44791C28.5184 4.5345 28.7487 4.60676 29.0669 4.5481C29.5608 4.45728 29.9044 3.99376 30.5739 4.14243C30.7789 4.18812 30.9682 4.29576 31.1615 4.40607C31.3333 4.5034 31.509 4.60285 31.7022 4.66381L33.4982 4.95321L34.5425 5.56112L36.2233 5.93755L37.295 6.63256C37.6405 6.8204 37.9977 6.98534 38.3472 7.14661C38.6029 7.26431 38.8528 7.38002 39.0909 7.50119C39.5829 7.75173 40.1353 7.92791 40.6819 8.10278C41.287 8.2959 41.8844 8.48734 42.3939 8.77544C43.4226 9.3579 44.0551 10.3264 44.914 11.0054C45.24 11.2645 45.6734 11.427 45.9272 11.7583L46.3898 12.8011C46.5187 12.9762 46.7295 13.0715 46.9423 13.167C47.1511 13.2609 47.36 13.355 47.4908 13.5253C47.5747 13.6348 47.6372 13.779 47.7016 13.9246C47.7973 14.1445 47.8929 14.3679 48.0706 14.481C48.3536 14.6605 48.6367 14.5935 48.8241 14.8574C49.4195 15.691 49.6908 16.8229 50.1281 17.8116L50.9968 19.2016L51.0261 19.8679L51.315 20.5922L51.4028 21.3742C51.6234 22.1064 52.1875 22.4897 52.4159 23.3435L52.5624 24.502L52.9098 25.4285L53.1128 26.9056L53.431 27.5135L53.4603 28.585C53.7063 29.837 54.1026 31.0545 54.4676 32.1809L54.4735 32.205L54.4286 36.754Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=main.css.map */
